{% extends "base_1.html" %}
{% load i18n %}

{% block title %} Repayment {% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Loan Number:&nbsp;{{ loan.pk }} </h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
		<ul id="sparks" class="">
			<li class="sparks-info">
				<h5> Actual Income <span class="txt-color-blue">KES 2,530</span></h5>
				<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
					10, 18, 25, 27, 20, 21, 30, 27, 36, 24, 11, 31, 24
				</div>
			</li>
			<li class="sparks-info">
				<h5> Partner Traffic<span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;0%</span></h5>
				<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
			<li class="sparks-info">
				<h5> Partner Requests <span class="txt-color-greenDark"><i class="fa fa-arrow-circle-up"></i>&nbsp;0</span></h5>
				<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
					110,150,300,130,400,240,220,310,220,300, 270, 210
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- widget grid -->
<section id="widget-grid" class="">

	<!-- row -->
	<div class="row">
		<article class="col-sm-12">
			<!-- Widget ID (each widget will need unique ID)-->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-3" data-widget-editbutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Export to PDF / Excel</h2>

				</header>

				<!-- widget div-->
				<div>

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
							<thead>
								<tr>
									<th data-hide="phone">ID</th>
									<th data-class="expand"><i class="fa fa-fw fa-user txt-color-magenta text-muted hidden-md hidden-sm hidden-xs"></i> First Name</th>
									<th data-class="expand"><i class="fa fa-fw fa-user txt-color-magenta text-muted hidden-md hidden-sm hidden-xs"></i> Last Name</th>
									<th data-hide="phone"><i class="fa fa-fw fa-phone txt-color-magenta text-muted hidden-md hidden-sm hidden-xs"></i> Receipt</th>
									<th><i class="fa fa-fw fa-money txt-color-green text-muted hidden-md hidden-sm hidden-xs"></i> Balance</th>
									<th data-hide="phone,tablet"><i class="fa fa-fw fa-circle txt-color-green hidden-md hidden-sm hidden-xs"></i> Status</th>
									<th data-hide="phone,tablet"><i class="fa fa-fw fa-circle txt-color-blue hidden-md hidden-sm hidden-xs"></i>Over Paid</th>
									<th data-hide="phone,tablet"><i class="fa fa-fw fa-calendar txt-color-blue hidden-md hidden-sm hidden-xs"></i> Due Date</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ loan.pk }}</a></td>
									<td>{{ loan.customer.firstName }}</td>
									<td>{{ loan.customer.lastName }}</td>
									<td>{{ loan.disbursedReceipt }}</td>
									<td>{{ loan.loanBalance }}</td>
									<td>{{ loan.status }}</td>
									<td>{{ loan.overpaid }}</td>
									<td>{{ loan.dueDate }}</td>
								</tr>

							</tbody>
						</table>
					</div>
					<!-- end widget content -->
								
				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->
		</article>
	</div>
	<!-- end row -->

</section>
<!-- end widget grid -->
{% endblock %}
