{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
	<div class="well no-padding">
		<form action="" method="post" id="login-form" class="smart-form client-form">
			{% csrf_token %}
			<header>
				Sign In
			</header>

			<fieldset>
					
				<section>
					<label class="label">Username</label>
					<label class="input"> <i class="icon-append fa fa-user"></i>
						<input id="login-username" type="text" class="form-control" name="username" value="">
						<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter username</b></label>
				</section>

				<section>
					<label class="label">Password</label>
					<label class="input"> <i class="icon-append fa fa-lock"></i>
						<input type="password" name="password">
						<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
					<div class="note">
						<a href="{% url 'auth_password_reset' %}">Forgot password?</a>
					</div>
				</section>

				<section>
					<label class="checkbox">
						<input type="checkbox" name="remember" checked="">
						<i></i>Stay signed in</label>
				</section>
			</fieldset>
			<footer>
				<button type="submit" class="btn btn-primary">
					Sign in
				</button>
				<input type="hidden" name="next" value="{{ next }}" />
			</footer>
		</form>

	</div>
		
	<h5 class="text-center"> - Or sign in using -</h5>
											
		<ul class="list-inline text-center">
			<li>
				<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
			</li>
			<li>
				<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
			</li>
		</ul>
		
</div>
{% endblock %}