{% extends "registration/regbase.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
	<div class="row">
		<p style="font-weight: bold;">
		    {% trans "Your password has been reset!" %}
		    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.

		</p>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
