{% extends "registration/regbase.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
	<div class="row">
		<p style="font-weight: bold;">
		    {% blocktrans %}
		    We have sent you an email with a link to reset your password. Please check
		    your email and click the link to continue.
		    {% endblocktrans %}
		</p>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
