{% extends "registration/regbase.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" style="">
	<div class="row">
        <p>
          <h4 style="font-weight: bold; color: #007500;">{% trans "Password Successfuly Changed" %}.</h4>
        </p>
	</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
