{# This is used by django.contrib.auth #}
{% load staticfiles %}
{% load static %}

{% load i18n %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{# crispy_form_tags and widget_tweaks are needed to aply bootstrap and render_fields individualy, install them and add them to settings.py under installed apps #}

<!DOCTYPE html>
<html lang="en-us" id="extr-page">
	<head>
		<meta charset="utf-8">
		<title> 
			{% block title %} Change Password {% endblock %}
		</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- #CSS Links -->
		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/font-awesome.min.css' %}">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production-plugins.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-production.min.css' %}">
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-skins.min.css' %}">

		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/smartadmin-rtl.min.css' %}"> 

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/demo.min.css' %}">

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="{% static 'img/favicon/qlogo.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon/qlogo.ico' %}" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="{% static 'img/splash/sptouch-icon-iphone.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/splash/touch-icon-ipad.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/splash/touch-icon-iphone-retina.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/splash/touch-icon-ipad-retina.png' %}">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-landscape.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/ipad-portrait.png' %}" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{% static 'img/splash/iphone.png' %}" media="screen and (max-device-width: 320px)">

	</head>

	<body class="animated fadeInDown">
		<!-- HEADER -->
		{% block header %}
		<header id="header">

			<div id="logo-group">
				<span id="logo"> <img src="{% static 'img/qlogo.png' %}" alt="SmartAdmin"> </span>
			</div>

			<span id="extr-page-header-space"> 
				<a href="{% url 'mobilescore:index' %}" class="btn btn-danger">Home</a>

			</span>

		</header>
		{% endblock %}
		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
						<h1 class="txt-color-red login-header-big">SmartAdmin</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
								<div class="login-app-icons">
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Frontend Template</a>
									<a href="javascript:void(0);" class="btn btn-danger btn-sm">Find out more</a>
								</div>
							</div>
							
							<img src="{% static 'img/demo/iphoneview.png' %}" class="pull-right display-image" alt="" style="width:210px">

						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
								</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<h5 class="about-heading">Not just your average template!</h5>
								<p>
									Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
								</p>
							</div>
						</div>

					</div>
					{% block content %}
						<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
							<div class="well no-padding">
								<form action="" method="post" id="login-form" class="smart-form client-form">
									{% csrf_token %}
									<header>
										Change Password
									</header>

									{{ form.non_field_errors }}
									<fieldset>
										<section>
											<label class="label">Old password</label>
				                            <p style="color: #880000">{{ form.old_password.errors.as_text }}</p>
				                            <label class="input"> <i class="icon-append fa fa-lock"></i>
				                            {% render_field form.old_password style="" class="form-control" placeholder="current password" %}
				                            <b class="tooltip tooltip-bottom-right">Enter your current password</b> </label>
				                        </section>	
										
										<section>
											<label class="label">New password</label>
				                            <p style="color: #880000">{{ form.new_password1.errors.as_text }}</p>
				                            <label class="input"> <i class="icon-append fa fa-lock"></i>
				                            {% render_field form.new_password1 style="" class="form-control" placeholder="new password" %}
				                            <b class="tooltip tooltip-bottom-right">Enter your new password</b> </label>
				                        </section>

										<section>
											<label class="label">Confirm new password</label>
				                            <p style="color: #880000">{{ form.new_password2.errors.as_text }}</p>
				                            <label class="input"> <i class="icon-append fa fa-lock"></i>
				                            {% render_field form.new_password2 style="" class="form-control" placeholder="new password again" %}
				                            <b class="tooltip tooltip-bottom-right">Renter your new password</b> </label>
				                        </section>
									</fieldset>
									<footer>
										<input type="submit" class="btn btn-primary" value="{% trans 'Change password' %}" />
									</footer>
								</form>

							</div>
								
						</div>
					{% endblock %}
				</div>
			</div>

		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="{% static 'js/plugin/pace/pace.min.js' %}"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="{% static 'js/libs/jquery-2.1.1.min.js' %}"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="{% static 'js/libs/jquery-ui-1.10.3.min.js' %}"><\/script>');} </script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{% static 'js/app.config.js' %}"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{% static 'js/plugin/jquery-validate/jquery.validate.min.js' %}"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="{% static 'js/plugin/masked-input/jquery.maskedinput.min.js' %}"></script>
		
		<!--[if IE 8]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{% static 'js/app.min.js' %}"></script>

		<script type="text/javascript">
			runAllForms();

				// Validation for registration form
				$("#smart-form-register").validate({

					// Rules for form validation
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						},
						passwordConfirm : {
							required : true,
							minlength : 3,
							maxlength : 20,
							equalTo : '#password'
						},
						firstname : {
							required : true
						}
					},

					// Messages for form validation
					messages : {
						password : {
							required : 'Please enter your password'
						},
						passwordConfirm : {
							required : 'Please enter your password one more time',
							equalTo : 'Please enter the same password as above'
						},
						firstname : {
							required : 'Please select your first name'
						}
					},

					// Ajax form submition
					submitHandler : function(form) {
						$(form).ajaxSubmit({
							success : function() {
								$("#smart-form-register").addClass('submited');
							}
						});
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});

			});
		</script>

	</body>
</html>