{% extends "registration/regbase.html" %}
{% load i18n %}
{% load staticfiles %}

{% load static %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3" style="">
	<div class="row">
        <p>
          <h4 style="font-weight: bold; color: #007500;">{% trans "Please check your email to complete the registration process." %}</h4>
        </p>
	</div>
</div>
<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h5 class="about-heading">About SmartAdmin - Are you up to date?</h5>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<h5 class="about-heading">Not just your average template!</h5>
			<p>
				Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
			</p>
		</div>
	</div>

</div>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
