{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{# crispy_form_tags and widget_tweaks are needed to aply bootstrap and render_fields individualy, install them and add them to settings.py under installed apps #}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
	<div class="well no-padding">

		<form action="" method="post" id="smart-form-register" class="smart-form client-form">
		{% csrf_token %}
			<header>
				Registration is FREE*
			</header>

			{{ form.non_field_errors }}
                    <fieldset>
                        <section>
                            <p style="color: #880000">{{ form.username.errors.as_text }}</p>
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                            {% render_field form.username style="" class="form-control" placeholder="username" %}
                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
                        </section>

                        <section>
                            <p style="color: #880000">{{ form.email.errors.as_text }}</p>
                            <label class="input"> <i class="icon-append fa fa-envelope"></i>
                            {% render_field form.email style="" class="form-control" placeholder="email" %}
                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-key"></i>
                            {% render_field form.password1 style="" class="form-control" placeholder="password" %}
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                        </section>

                        <section>
                            <label class="input"> <i class="icon-append fa fa-key"></i>
                            {% render_field form.password2 style="" class="form-control" placeholder="Re-type Password" %}
                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                        </section>

                    </fieldset>

                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                {% render_field form.first_name class='form-control' placeholder="First Name" %}
                                <b class="tooltip tooltip-bottom-right">Not required but important</b> </label>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                                <b class="tooltip tooltip-bottom-right">Not required but important</b> </label>
                                </label>
                            </section>
                        </div>

                        <section>
                            <label class="checkbox">
                            <input type="checkbox" name="checkbox" id="terms">
                            <i></i>I agree with the <a href="#"> Terms and Conditions </a></label>
                        </section>
                    </fieldset>

			<footer>
				<button type="submit" class="btn btn-primary">
					Register
				</button>
			</footer>

			<div class="message">
				<i class="fa fa-check"></i>
				<p>
					Thank you for your registration!
				</p>
			</div>
		</form>

	</div>
	<p class="note text-center">*FREE Registration ends on October 2015.</p>
	<h5 class="text-center">- Or sign in using -</h5>
	<ul class="list-inline text-center">
		<li>
			<a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
		</li>
		<li>
			<a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
		</li>
	</ul>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
